//colors

$bg-color: #c8c7c9;
$rad-gr-color-1:#e34246;
$rad-gr-color-2: #a5151b;
$hover: #ffaf28; 
$btn: #fca211;
$title-color: #2b2f5f;
$product-title: #393939;
$product-text: #ab594a;

$font-secondary: #212121;
$font-primary: #747474;
$link-color: #44b6f5;

//media queries

