.faq{
	background-color: #c82f33;
	color: #fff;
}
.faq__wrapper{
	@include container;
	padding: 0 50px;
	background-image: url(../img/bg/bg-red.jpg); 
	background-repeat: no-repeat;

}
.faq__title{
	padding-top: 100px;
	text-align: center;
	font-size: 40px;
	@include font(malina);
	color: #fff;
}
.faq__accordeon-item{
	list-style-type: decimal;
	padding-bottom: 50px; 
}

.faq__accordeon-trigger{
    display: inline-block;
    color: #fff;
    padding-bottom: 10px;
    font-size: 22px;
    background-image: url(../img/bg/item-bg.png);
    background-position: -1px 36px;
    background-repeat: repeat-x;
}
.faq__accordeon-trigger:hover{
	color: $hover;
	background: none;
}
.faq__accordeon-trigger.active{
	color: $hover;
	background: none;
}
.faq__accordeon-content{
	padding: 45px;
	font-size: 15px;
	display: none;
}
